/*
color de fondo y letras 5caaad
color del hover del menu 61a99d
*/

body {
    background-color: #5caaad;
    margin: 0;
    padding: 0;
}
.fondo_blanco {
    background-color: #fff;
    border-radius: 14px;
    padding-bottom: 60px;
}
#img img {
    height: 150px;
    width: 150px;
}
#cabezera ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.lista {
    vertical-align: middle;
    height: 150px;
}
.lista img {
    border-radius: 20px;
    height: 9.5em;
    /*9.5em*/
    width: 9.5em;
    vertical-align: middle;
    position: absolute;
/*    top: -5px;*/
}

#cabezera li {
    position: relative;
    padding: 0;
    margin: 0;
}
#contenido-lista {
    margin-left: 140px;
  
}
.titulos {
    padding-top: 7px;
}
.header-titulo {
    margin-top: 2em;
    padding-top: 2px;
    text-align: center;
}
.titulo-derecha {
    margin-left: 260px;
}
#navegador ul{
   list-style-type: none;
}
#navegador li{
   display:inline-block;
   margin: 0 0 10px 0;
   width: 315px;
}


#navegador {
    
}
#cabezera {
    background-color: #fff;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10000;
    height: 70px;
     clear: both;
}
#cuarta {
    padding-bottom: 500px;
}
.boder-abajo a:hover {
    border-bottom: 6px solid #0084b4;
/*    #5caaad #0084b4*/
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #61a99d;
    transition: all .10s ease-in-out;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
/*PIE DE PAGINA*/
#footer {
    -webkit-box-shadow: -1px -3px 5px 0px rgba(50, 50, 50, 0.31);
    -moz-box-shadow:    -1px -3px 5px 0px rgba(50, 50, 50, 0.31);
    box-shadow:         -1px -3px 5px 0px rgba(50, 50, 50, 0.31);
    margin-top: 20px;
    background-color: #305d5f;
    padding-top: 20px;
    width: 100%;
}
#footer h1,h2,h3,h4,h5,h6{
    font-size: 1.3em;
    
}
#footer h4{
    color: #a3e2d7;
    font-weight:lighter;
}
.servicios ul{
    list-style: none;
}
.servicios a{
    display: block;
    padding: 0px 0 8px 8px;
    color: #bcd4d0;
     font-weight:lighter;
}
.servicios li{
width: 200px;
    float: left;
}
.servicios h1{
    color: #a3e2d7;
    font-weight:bold;
    margin-left: 30px;
}
/*FIN DEL PIE DE PAGINA*/
/*BOTONES DE SIGUENOS DEL FOOTER*/
.caja-redes {
    margin: 5px;
    padding: 5px;
    position: relative;
    text-align: center;
    color: #a3e2d7;
    font-weight:bold;
}
.caja-redes h1{
 font-size: 1.3em;
}
.caja-redes a {
    text-align: center;
    font-size: 20px;
}
.icon-button {
    background-color: white;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    height: 3em;
    line-height: 3em;
    margin: 0 8px;
    position: relative;
    width: 3em;
}
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.icon-button:hover span {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    margin: -1.5em;
}
.linkedin span {
    background-color: #4393BB;
}
.pinterest span {
    background-color: #C92228;
}
.twitter span {
    background-color: #4099ff;
}
.facebook span {
    background-color: #3B5998;
}
.google-plus span {
    background-color: #db5a3c;
}
.icon-button i {
    background: none;
    color: white;
    left: 0;
    line-height: 3em;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3em;
    z-index: 2;
}
.icon-button .icon-linkedin {
    color: #4393BB;
}
.icon-button .icon-pinterest {
    color: #C92228;
}
.icon-button .icon-twitter {
    color: #4099ff;
}
.icon-button .icon-facebook {
    color: #3B5998;
}
.icon-button .icon-google-plus {
    color: #db5a3c;
}
.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-pinterest,
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
    color: white;
}
/*FIN DE LOS BOTONES DE SIGUENOS*/
#busqueda {
    padding-top: 25px;
/*     height: 550px;*/
}
.subsection {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.subsection ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.subsection li {
    position: relative;
    padding: 0;
    margin: 0;
}
#populares-nuevos {
    padding-top: 70px;
}
#ofertas-visitados {
    padding-top: 10px;
}
.contenido {
    margin: 10px 0;
    padding-top: 5px;
    padding-left: 5px;
    height: 150px;
    border: 1px solid rgba(229, 25, 25, 0);
}
/*FORMULARIOS*/
#container_demo {
    text-align: left;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;
}
/** fonts used for the icons **/

a.hiddenanchor {
    display: none;
}
/** The wrapper that will contain our two forms **/

#wrapper {
    width: 60%;
    right: 0px;
    min-height: 560px;
    margin: 0px auto;
    width: 500px;
    position: relative;
}
/**** Styling the form elements **/

/**** general text styling ****/

#wrapper a {
    color: rgb(95, 155, 198);
    text-decoration: underline;
}
#wrapper h1 {
    font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
/** For the moment only webkit supports the background-clip:text; */
#wrapper h1 {
    background: -webkit-repeating-linear-gradient(-45deg, rgb(18, 83, 93), rgb(18, 83, 93) 20px, rgb(64, 111, 118) 20px, rgb(64, 111, 118) 40px, rgb(18, 83, 93) 40px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#wrapper h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -moz-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(147, 184, 189, 0)), color-stop(20%, rgba(147, 184, 189, 0.8)), color-stop(53%, rgba(147, 184, 189, 1)), color-stop(79%, rgba(147, 184, 189, 0.8)), color-stop(100%, rgba(147, 184, 189, 0)));
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: -o-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: -ms-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}
#wrapper p {
    margin-bottom: 15px;
}
#wrapper p:first-child {
    margin: 0px;
}
#wrapper label {
    color: rgb(64, 92, 96);
    position: relative;
}
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(106, 159, 171);
    position: absolute;
    left: 10px;
    top: 35px;
    width: 30px;
}
);
 font-style:italic;

}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}
input {
    outline: none;
}
/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]) {
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
/*styling both submit buttons */
#wrapper p.button input {
    width: 30%;
    cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 24px;
    border: 1px solid rgb(28, 108, 122);
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#wrapper p.button input:hover {
    background: rgb(101, 197, 214);
}
#wrapper p.button input:active,
#wrapper p.button input:focus {
    background: rgb(40, 137, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button {
    text-align: right;
    margin: 5px 0;
}
#menu-hoteles {
    padding-top: 80px;
    margin-bottom: 5px;
}
#link-interes {
    margin: 15px 0 0 0; 
}
#Secbusqueda {
  
    margin-top: 55px;
}
.contenedor {
    top: -5px;
    position:absolute;
 
}
.contenedor-busqueda {
    width: 100%;
    height: 390px;
    background-color: black;
    border-radius: 5px;
}
.imagen-fondo {
    border-radius: 20px;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-image:url(../imap/parallax_03.jpg);
    background-size:cover; 
    height: 85%;
    width: 90%; 
    margin: 0 auto; 
}
.margen_iconos
{
    margin-right: 5px;
}
#prueba {
    height: -20px;
}
#DivBuscarInm
{

    height: 400px;
    background-color: rgba(250, 250, 250, 0.68);
    border-radius: 6px;
    width: 100%;
    max-width: 100%;
    margin: 10px 0 0 0;
;
}
#DivBuscarInm a{
    text-decoration: none;
}
#DivBuscarInm a:hover
{
    color:#fff;
    border: none;
    background: none;
    background-color: #299ac9;
}
.PublicidadInm
{
    margin: 10px 0 0 0;
    height: 400px; 
}
.SubTitulo
{
    text-align: center;
    color:#28413c;
}


#Divbuscar {
    position: absolute;
    float: left;
    height: 360px;
    background-color: rgba(250, 250, 250, 0.68);
    border-radius: 6px;
    width: 40%;
    max-width: 40%;

    margin-left: 25px;
    margin-top: 10px;

}
#Divbuscar a{
    text-decoration: none;
}
#Divbuscar a:hover
{
    color:#fff;
    border: none;
    background: none;
    background-color: #299ac9;
}
#DivBotonBusqueda {
    text-align: right;

}
.TituloFecha {
    margin-left: 15px;
}
.SeparadorBusqueda {
margin-left: 25px;
margin-right: 25px;
}
.margen {
    clear:right;
    margin-left: 5px;
    margin-right: 5px;
}
.Titulo {
    margin-left: 15px;
    width: 100%;
}
.lista .contenido:hover
{

    border: 2px solid #61a99d;
    border-radius: 5px;

  /*  background-color: #ededed;
    border-radius: 8px;
     box-shadow: 1px 5px 10px #888888;*/
}
.float_left{
    float: left;
}
.clear{
    clear: both;
}
@media only screen and (max-width: 720px) {
    /* line 201, includes/menu.scss */
    #publicidad {
        margin-top: 10px;
        
    }
    #Divbuscar
    {
        position: static;
        background-color: rgba(250, 250, 250, 0.68);
        border-radius: 6px;
        margin-left: 25px;
        margin-top: 10px;
        
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

